/*------------------ fonts import --------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*---------------- General Styles ---------------------*/

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}


/*----------------------------------------------------- 
                    Header Styles
-------------------------------------------------------*/

.nav-bar{
    display: flex;
    justify-content: space-between;
    margin-left: 8.8vw;
    margin-right: 8.8vw;
    margin-top: 13vh;
    align-items: center;
}
/*--------------------- Right side of navs style-------------------- */
.right-nav{
    display: grid;
    grid-template-columns: repeat(4,1fr) 1.75vw 1.75vw;
    column-gap: 2vw;
}

.right-nav h2{
    font-weight: 700;
    font-size: 24px;
    color: #3A3A3A;
}

.right-nav p a{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
    font-size: 16px;
}

.right-nav p a i{
    font-size: 24px;
}

/*-----------------------------------------
             Main section 
-------------------------------------------*/

/*--------- Section-1 :start --------------*/
.section-1{
    margin-top: 7.6vh;
    display: flex;
    align-items: center;
    margin-left: 8.8vw;
    margin-right: 8.8vw;
}
.section-1 .section-1-details{
    margin-right: 9.7vw;
}
.section-1-details h1{
    width: 582px;
    height: 133px;
    font-weight: 700;
    font-size: 52px;
    color: #3A3A3A;
    line-height: 60px;
}
.section-1-details p{
    margin-top: 2.5vh;
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
    width: 36.9vw;
    height: 9.2vh;
    margin-bottom: 2.5vh;
}

.section-1-details .btn{
    
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 24px;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    border-radius: 41px;
}

.fa-arrow-right{
    margin-left: 0.586vw;
    background-color: #E02C6D;
}
/*--------- Section-1 :end --------------*/

/*--------- Section-2 :start --------------*/

.section-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 165px;
    padding: 35px 62px;
    box-shadow: 0 2px 0px rgb(211, 204, 252),
                0 -2px 0px rgb(211, 204, 252);
}

/*--------- Section-2 :end --------------*/