/*------------------ fonts import --------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*---------------- General Styles ---------------------*/

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}


/*----------------------------------------------------- 
                    Header Styles
-------------------------------------------------------*/

.nav-bar{
    display: flex;
    justify-content: space-between;
    margin-left: 8.8vw;
    margin-right: 8.8vw;
    margin-top: 13vh;
    align-items: center;
}
/*--------------------- Right side of navs style-------------------- */
.right-nav{
    display: grid;
    grid-template-columns: repeat(4,1fr) 1.75vw 1.75vw;
    column-gap: 2vw;
}

.right-nav h2{
    font-weight: 700;
    font-size: 24px;
    color: #3A3A3A;
}

.right-nav p a{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
    font-size: 16px;
}

.right-nav p a i{
    font-size: 24px;
}

/*-----------------------------------------
             Main section 
-------------------------------------------*/

/*--------- Section-1 :start --------------*/
.section-1{
    margin-top: 7.6vh;
    display: flex;
    align-items: center;
    margin-left: 8.8vw;
    margin-right: 8.8vw;
}
.section-1 .section-1-details{
    margin-right: 9.7vw;
}
.section-1-details h1{
    width: 582px;
    height: 133px;
    font-weight: 700;
    font-size: 52px;
    color: #3A3A3A;
    line-height: 60px;
}
.section-1-details p{
    margin-top: 2.5vh;
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
    width: 36.9vw;
    height: 9.2vh;
    margin-bottom: 2.5vh;
}

.btn{
    
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 24px;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    border-radius: 41px;
}

.fa-arrow-right{
    margin-left: 0.586vw;
    background-color: #E02C6D;
}
/*--------- Section-1 :end --------------*/

/*--------- Section-2 :start --------------*/

.section-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 165px;
    padding: 35px 62px;
    box-shadow: 0 2px 5px rgb(211, 204, 252),
                0 -2px 5px rgb(211, 204, 252);
}

/*--------- Section-2 :end --------------*/

/*--------- Section-3 :Start --------------*/

.section-3{
    width: 1047px;
    height: 1662px;
    /* border: 1px solid; */
    margin: 0 auto;
    margin-bottom: 100px;
}
.section-title{
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 70px;
    color: #3A3A3A;
}
.cards{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}
.card{
    /* border: 2px solid red; */
    padding:17px 14px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.card-title{
    margin-top: 16px;
    height: 40px;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
}
.price{
    margin-top: 6px;
    height: 36px;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.87);
}
/* Stars style */
.fa-star , .fa-star-half-stroke{
    color: #FB8200;
    width: 16px;
    height: 16px;
}
.points{
    margin-left: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.1px;
    color: #5E6366;

}
.review{
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    height: 61px;
    width: 196px;
    color: #787885;
    letter-spacing: 0.018em;
}

.next-page{
    margin-top: 50px;
    text-align: right;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgba(224, 44, 109, 0.87);
}
.next-page .fa-arrow-right{
    background-color: #ffffff;
}
/*--------- Section-3 :end --------------*/

/*--------- Section-4 :start --------------*/
.section-4{
   
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1110px;
    height: 270px;
    margin: 0 auto;
}

.banner{
        width: 45%;
}
.banner-info{
        width: 55%;
}

.banner image{
    width: 100%;
}
.banner-info h2{
    width: 610px;
    height: 60px;
    font-weight: 700;
    font-size: 38px;
    line-height: 60px;
    color: #0A0826
}
.banner-info p{
    width: 501px;
    height: 88px;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
    margin: 16px 0;
    
}

.btn-2{
    text-decoration: none;
    padding: 10px 24px;
    background: #E02C6D;
    color: #ffffff;
}

/*--------- Section-4 :end --------------*/


/*------------------------------------------
             footer styles 
-------------------------------------------*/

.container{
    
    margin-top: 100px; 
    border: 1px solid;
    height: 240px;
    background-color: #0A0826;
    text-align: center;
    padding-top: 50px;
    
}

.container h3 , .container p {
    background-color: #0A0826;
}

.container h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}

.container p{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #D9DBE1;
    margin: 10px 0;
}

.container a{
    text-decoration: none;
    color: white;
    background-color: #0A0826;
    padding: 0px 10px;
    font-size: 1.5em;
}

.social{
    background-color: #0A0826;
}

